@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

body * {
    font-family: 'Recursive', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: white;
}

h6 {
    font-weight: 700;
    margin-left: 10px;
}

button {
    background-color: white;
    font-size: 18px;
    color: #D70900;
    border: solid 1px #D70900;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 60px;
    width: 260px;
    margin-top: 15px;
}

input {
    border: none;
    font-size: 14px;
    border-radius: 5px;
    height: 50px;
    width: 260px;
    margin-top: 45px;
    padding: 10px;
}

.off {
    border: none;
    background-color: #E8E8E8;
    color: #C0C0C0;
    box-shadow: none;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeContainer img {
    height: 161px;
    width: 136px;
    margin-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

header img {
    height: 60px;
    width: 52px;
    margin-right: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}

.flashCard {
    background-color: white;
    height: 65px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    padding: 0px 15px;
    font-size: 19px;
    font-weight: 700;
}

ion-icon {
    font-size: 25px;
}

.perguntar {
    background-color: #FFFFD4;
    height: 130px;
    width: 300px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    padding: 10px 15px 5px 15px;
    position: relative;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perguntar img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 15px 5px 15px;
}

.perguntar > div {
    display: flex;
    justify-content: space-between;
}

.selecionar {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.red {
    background-color: #FF3030;
}

.orange {
    background-color: #FF922E;
}

.green {
    background-color: #2FBE34;
}

.errou {
    color: #FF3030;
    text-decoration: line-through;
}

.lembrou {
    color: #FF922E;
    text-decoration: line-through;
}

.zap {
    color: #2FBE34;
    text-decoration: line-through;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 100px;
    font-size: 18px;
    font-style: oblique;
    text-align: center;
}

.footerContainer span {
    margin-bottom: 10px;
}

.descricao {
    margin: 10px 0px;
    padding: 0px 20px;
}

.footerContainer > :first-child {
    display: flex;
}

.footerContainer button {
    margin-top: 20px;
    width: 170px;
    height: 32px;
    font-size: 14px;
    background-color: #FB6B6B;
    color: white;
    border: none;
}

ion-icon[name="close-circle"] {
    color: #FF3030;
}

ion-icon[name="help-circle"] {
    color: #FF922E;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
}